.cds-c-herobanner{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: 16px;
	
	.cmp-teaser__content {
		grid-column: 1/-1;		
		display: block;		
		text-align: center;
		background:#b89d9d;
		@media only screen and (min-width: 1024px) {
			grid-column: 1/span 6;
		}
		.cmp-teaser__title {
			margin-top: 50px;
			font-weight: bold;

		}
		.cds-c-herobanner__pagetitle{
			font-weight: bold;
		}
	}
	.cmp-teaser__image {
		grid-column: 1/-1;
		@media only screen and (min-width: 1024px) {
			grid-column: 7/span 12;
		}
	}
}